*{
			margin:0;
			padding:0
		}
		html,body{
			font-size: 16px;
		}
		.goback{
			width:100%;
			height:2rem;
			line-height: 2rem;
			background:#FFFFFF;
		}
		.goback a{
			color:gray;
			padding-left:10px;
			line-height: 2rem;
			background:#FFFFFF;
			text-decoration: none;
			display:block;
			-webkit-tap-highlight-color: transparent;
		}
		.goback a img{
			width:1.2rem;
			height:1.2rem;
			vertical-align: middle;
			margin-bottom: 5px;
		}
		.tops{
			width:100%;
		}
		#k_lines{
			width:100%;
			background:#D3D3D3;
			
		}
		#weishu,#shuzi{
			width:100%;
			height:2rem;
			padding: 0;
			list-style: none;
		}
		#weishu li{
			height:2rem;
			line-height: 2rem;
			padding:0 0.2rem;
			float: left;
			/*border:dashed 2px red;*/
			text-align: center;
			color:red;
		}
		#shuzi li{
			height:2rem;
			padding:0 0.2rem;
			line-height: 2rem;
			float: left;
			color:red;
			text-align: center;
		}
		.lastend{
			width:100%;
			height:2rem;
			clear: both;
		}
		p{
			text-align: center;
			margin-top:1rem;
		}
